---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LemonLime | About</title>
	</head>
	<body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Homepage</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
        </ul>
      </nav>
    </header>
		<h1>About Me</h1>

    <section>
      <h2>Who am I</h2>
      <p>
        I'm a software engineer from Houston, Texas. My specialty is in full-stack
        web development with a heavy emphasis on writing backend telecommunications
        services & highly-interactive graphical web apps.
      </p>
    </section>
	</body>
</html>
