---
import '../styles/global.css'
const pageTitle = "Blog Posts"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>LemonLime | {pageTitle}</title>
	</head>
	<body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Homepage</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
        </ul>
      </nav>
    </header>
		<h1>{pageTitle}</h1>

    <section>
      <h2>What's CS</h2>
      <a href="/posts/post-1">
        <p>
          Most people assume that a degree in Computer Science is all about programming
          and the foundations.....
        </p>
      </a>
    </section>
    <section>
      <h2>TALL Stack</h2>
      <a href="/posts/post-2">
        <p>
          If you've participated or seen what's happening in the PHP community, chances
          are you've probably heard about the TALL Stack. It's made up of.....
        </p>
      </a>
    </section>
    <section>
      <h2>Learning Astro</h2>
      <a href="/posts/post-3">
        <p>
          It wasn't always smooth sailing, but I'm enjoying building with Astro.
        </p>
      </a>
    </section>
	</body>
</html>
