---
import "../styles/global.css";
import Navigation from "./Navigation.astro";
import Hamburger from './Hamburger.astro';
---

<style>
  .navbar {
    background-color: #606c38;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem 2rem;
  }

  .brand {
    font-size: 2.4rem;
  }

  .brand-link:link,
  .brand-link:visited {
    color: #fff;
    text-decoration: none;
  }

  .brand-link:hover,
  .brand-link:active {
    cursor: pointer;
  }

  .navigations-container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    gap: 2rem;
  }
</style>

<header class="navbar">
  <div class="brand">
    <a class="brand-link" href="/">LemonLime</a>
  </div>

  <nav class="navigations-container">
    <Hamburger />
    <Navigation />
  </nav>
</header>
