---
const links = [
  {
    name: "About",
    href: "/about",
  },
  {
    name: "Blog",
    href: "/blog",
  },
  {
    name: "Tags",
    href: "/tags",
  },
];
---

<style>
  .navigations {
    list-style: none;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .navigation {
    font-size: 1.6rem;
  }

  .navigation-link:link,
  .navigation-link:visited {
    color: #cef8ff;
    text-decoration: none;
    transition: all 0.15s ease-in;
    border-bottom: 1px solid transparent;
  }

  .navigation-link:hover,
  .navigation-link:active {
    opacity: 0.9;
    border-bottom: 1px solid currentColor;
  }

  .expanded {
    display: unset;
  }

  @media screen and (min-width: 636px) {
    .navigations {
      display: flex;
    }
  }
</style>

<ul class="navigations">
  {
    links.map((link) => (
      <li class="navigation">
        <a class="navigation-link" href={link.href}>
          {link.name}
        </a>
      </li>
    ))
  }
</ul>
