---
import { fade } from 'astro:transitions';
const {url, title, description} = Astro.props;
---

<section>
  <h2>{title}</h2>
  <a href={url}>
    <p transition:animate={fade({duration: '2s'})}>
      {description}
    </p>
  </a>
</section>
