---
const { link, platform } = Astro.props;
---

<style>
  a:link,
  a:visited {
    position: relative;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 1rem;
    background-color: #606c38;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
  }

  a:hover,
  a:active {
    box-shadow: 0 0.2rem 1rem 0.1rem rgba(0, 0, 0, 0.2);
  }
</style>

<a target="_blank" href={link}>{platform}</a>
